{% extends 'accounts/main.html' %}
{% block content %}
    {% include 'accounts/sidebar.html' %}
    <main>
        <div class="card card-body">
            <table id="example" class="table is-striped" style="width:100%">
                <thead>
                <tr>
                    <td>#</td>
                    <td>Product ID</td>
                    <td>Date</td>
                    <td>Name</td>
                    <td>Price</td>
                    <td>Category</td>
                    <td>Action</td>
                </tr>
                </thead>
                <tbody>
                {% for product in products %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ product.id }}</td>
                        <td>{{ product.date_created }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>{{ product.category }}</td>

                        <td class="action"><a href="{% url 'update' product.id %}"><span
                                class="las la-pen"></span></a><a
                                href="{% url 'delete' product.id %}"><span class="las la-eraser"></span></a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </main>

{% endblock %}