<div class="cards">
        <div class="card-single customer">
            <div class="">
                <h1>{{ total_customers }}</h1>
                <span>Customers</span>
            </div>
            <div>
                <span id="card-icon" class="las la-users"></span>
            </div>
        </div>
        <div class="card-single product">
            <div class="">
                <h1>{{ products }}</h1>
                <span>Products</span>
            </div>
            <div>
                <span id="card-icon" class="las la-shopping-bag"></span>
            </div>
        </div>
        <div class="card-single order">
            <div class="">
                <h1>{{ total_orders }}</h1>
                <span>Orders</span>
            </div>
            <div>
                <span id="card-icon" class="las la-poll"></span>
            </div>
        </div>
        <div class="card-single pending">
            <div class="">
                <h1>{{ total_delivered }}</h1>
                <span>total delivered</span>
            </div>
            <div>
                <span id="card-icon" class="las la-bookmark"></span>
            </div>
        </div>
    </div>